torch
torchvision
torchaudio
pytorch-lightning
xarray
netCDF4
h5py
rasterio
geopandas
shapely
pyproj
cdsapi
opencv-python-headless
numpy
pandas
scikit-learn
matplotlib
captum
shap
richdem
pysheds
fastapi
uvicorn[standard]
mlflow
